<h1>Welcome to the Tea Shoppe</h1>

<div id="front-imgs-container">

  <img src="https://i.pinimg.com/originals/d8/bb/de/d8bbde2d244484ed39311c39bd83e533.jpg" alt="Purveyor of fine teas">

  <img src="https://cdna.artstation.com/p/assets/images/images/008/925/096/large/andrea-frignani-japanese-tea-room4.jpg?1516130089" alt="For the finest of tastes">

  <img src="https://cdn.shopify.com/s/files/1/0092/4424/6052/products/organic-meditative-mind-jasmine-tea-x_700x.jpg?v=1586921283" alt="And the finest of blends">

  <img src="https://images.unsplash.com/photo-1536998003793-b13c28fae74b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80" alt="All for the finest of people">

</div>

<p>We've curated a beautiful and fragrant selection of teas for people just like you; someone with a refined taste! Come sip on our beautiful <a href="/teas">tea blends</a> or <a href="/teas/new">add a new blend</a> to our database!</p>
